<div class="container">


  <head>
    <title>Welcome to the homepage!</title>
  </head>

  <body>

    <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>

    <p>Mauris non aliquet nulla.</p>

  </body>

  </html>
</div>
