<div class="container register-container">
            <div class="row">
                <div class="col-md-6 register-form-1">
                    <h3>Register Form 1</h3>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Email *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Your Password *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Confirm your password *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit" value="Submit" />
                        </div>
                        <div class="form-group">
                            <a href="#" class="btnFaQpwd">Need Help?</a>
                    </div>

                </div>
            </div>
        </div>
